.album_header {
    width: 100%;
    display: flex;
    align-items: center;
}

.album_header span {
    font-family: 'Alex Brush', cursive;
    font-size: 24px;
    color: #555;
    white-space: nowrap;
    margin-left: 8px;
}

.line {
    flex: 1;
    height: 1.5px;
    background-color: #858585;
    margin-left: 4px;
    margin-right: 4px;
}

.album_container {
    column-count: 2;
    column-gap: 6px; /* Khoảng cách giữa 2 cột */
    padding: 8px;
}

.album_container > img {
    width: 100%;
    display: block;
    margin-bottom: 6px;
    transition: all 2s ease-in-out;
}

.album_left {
    transform: translateX(-100px);
    opacity: 0;
}

.album_right {
    transform: translateX(100px);
    opacity: 0;
}

.thank_container {
    height: 100vh;
    width: 100%;
    background-image: url(./source/anh2.jpg);
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.thank_desc > img {
    height: 50px;
    margin-top: 12px;
}

.thank_desc {
    line-height: 30px;
    padding-bottom: 24px;
    background-color: rgba(236, 236, 236, 0.322);
    backdrop-filter: blur(4px);
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);

    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

.thank_desc {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.2s ease-in-out;
}

.thank_desc.show {
    opacity: 1;
    transform: translateY(0);
}